In [1]:
# LB Score = 0.82878

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import TimeSeriesSplit, cross_val_score, GridSearchCV, StratifiedKFold, KFold
from sklearn.preprocessing import StandardScaler

In [3]:
df_train_features = pd.read_csv('data/train_features.csv', index_col='match_id_hash')
df_test_features = pd.read_csv('data/test_features.csv', index_col='match_id_hash')

In [4]:
df_targets = pd.read_csv('data/train_targets.csv')

In [5]:
split_index = df_train_features.shape[0]

In [6]:
split_index

39675

In [7]:
df = pd.concat([df_train_features, df_test_features])

In [8]:
df.shape

(49675, 245)

In [9]:
df_targets.head()

,match_id_hash,game_time,radiant_win,duration,time_remaining,next_roshan_team
0,a400b8f29dece5f4d266f49f1ae2e98a,155,False,992,837,NaN
1,b9c57c450ce74a2af79c9ce96fac144d,658,True,1154,496,NaN
2,6db558535151ea18ca70a6892197db41,21,True,1503,1482,Radiant
3,46a0ddce8f7ed2a8d9bd5edcbb925682,576,True,1952,1376,NaN
4,b1b35ff97723d9b7ade1c9c3cf48f770,453,False,2001,1548,NaN

In [10]:
y_train = df_targets['radiant_win']

In [11]:
r_kills_columns = [col for col in df if col.endswith('kills')][:5]
d_kills_columns = [col for col in df if col.endswith('kills')][5:]

In [12]:
df['r_kills_mean'] = df[r_kills_columns].mean(axis = 1)
df['r_kills_std'] = df[r_kills_columns].std(axis = 1)
df['r_kills_total'] = df[r_kills_columns].sum(axis = 1)

In [13]:
df['d_kills_mean'] = df[d_kills_columns].mean(axis = 1)
df['d_kills_std'] = df[d_kills_columns].std(axis = 1)
df['d_kills_total'] = df[d_kills_columns].sum(axis = 1)

In [14]:
df['kills_diff'] = df['d_kills_total'] - df['r_kills_total']

In [15]:
df.shape

(49675, 252)

In [16]:
r_gold_columns = [col for col in df if col.endswith('gold')][:5]
d_gold_columns = [col for col in df if col.endswith('gold')][5:]

In [17]:
df['r_gold_mean'] = df[r_gold_columns].mean(axis = 1)
df['r_gold_std'] = df[r_gold_columns].std(axis = 1)
df['r_gold_total'] = df[r_gold_columns].sum(axis = 1)

In [18]:
df['d_gold_mean'] = df[d_gold_columns].mean(axis = 1)
df['d_gold_std'] = df[d_gold_columns].std(axis = 1)
df['d_gold_total'] = df[d_gold_columns].sum(axis = 1)

In [19]:
df['gold_diff'] = df['d_gold_total'] - df['r_gold_total']

In [20]:
r_stuns_columns = [col for col in df if col.endswith('stuns')][:5]
d_stuns_columns = [col for col in df if col.endswith('stuns')][5:]

In [21]:
df['d_stuns_total'] = df[d_stuns_columns].sum(axis = 1)
df['r_stuns_total'] = df[r_stuns_columns].sum(axis = 1)

In [22]:
r_max_health_columns = [col for col in df if col.endswith('max_health')][:5]
d_max_health_columns = [col for col in df if col.endswith('max_health')][5:]
df['d_max_health_total'] = df[r_max_health_columns].sum(axis = 1)
df['r_max_health_total'] = df[d_max_health_columns].sum(axis = 1)

In [23]:
r_max_mana_columns = [col for col in df if col.endswith('max_mana')][:5]
d_max_mana_columns = [col for col in df if col.endswith('max_mana')][5:]
df['d_max_mana_total'] = df[r_max_mana_columns].sum(axis = 1)
df['r_max_mana_total'] = df[d_max_mana_columns].sum(axis = 1)

In [24]:
df['d_xp_total'] = df[[col for col in df if col.endswith('xp')][:5]].sum(axis = 1)
df['r_xp_total'] = df[[col for col in df if col.endswith('xp')][5:]].sum(axis = 1)

In [25]:
df['d_xp_std'] = df[[col for col in df if col.endswith('xp')][:5]].std(axis = 1)
df['r_xp_std'] = df[[col for col in df if col.endswith('xp')][5:]].std(axis = 1)

In [26]:
df['d_obs_total'] = df[[col for col in df if col.endswith('obs_placed')][:5]].sum(axis = 1)
df['r_obs_total'] = df[[col for col in df if col.endswith('obs_placed')][5:]].sum(axis = 1)

In [27]:
r_towers_killed_columns = [col for col in df if col.endswith('towers_killed')][:5]
d_towers_killed_columns = [col for col in df if col.endswith('towers_killed')][5:]
df['d_towers'] = df[d_towers_killed_columns].sum(axis = 1)
df['r_towers'] = df[r_towers_killed_columns].sum(axis = 1)

In [28]:
r_level_columns = [col for col in df if col.endswith('level')][:5]
d_level_columns = [col for col in df if col.endswith('level')][5:]
df['r_max_level'] = df[r_level_columns].max(axis = 1)
df['d_max_level'] = df[d_level_columns].max(axis = 1)

In [29]:
df['r_mean_level'] = df[r_level_columns].mean(axis = 1)
df['d_mean_level'] = df[d_level_columns].mean(axis = 1)

In [30]:
df['r_min_level'] = df[r_level_columns].min(axis = 1)
df['d_min_level'] = df[d_level_columns].min(axis = 1)

In [31]:
r_roshans_killes_columns = [col for col in df if col.endswith('roshans_killed')][:5]
d_roshans_killes_columns = [col for col in df if col.endswith('roshans_killed')][5:]
df['r_roshans'] = df[r_roshans_killes_columns].sum(axis = 1)
df['d_roshans'] = df[d_roshans_killes_columns].sum(axis = 1)

In [32]:
r_x_columns = [col for col in df if col.endswith('x')][:5]
d_x_columns = [col for col in df if col.endswith('x')][5:]

In [33]:
df['r_x_mean'] = df[r_x_columns].mean(axis = 1)
df['d_x_mean'] = df[d_x_columns].mean(axis = 1)
df['r_x_max'] = df[r_x_columns].max(axis = 1)
df['d_x_max'] = df[d_x_columns].max(axis = 1)
df['r_x_min'] = df[r_x_columns].min(axis = 1)
df['d_x_min'] = df[d_x_columns].min(axis = 1)

In [34]:
r_y_columns = [col for col in df if col.endswith('y')][:5]
d_y_columns = [col for col in df if col.endswith('y')][5:]

In [35]:
df['r_y_mean'] = df[r_y_columns].mean(axis = 1)
df['d_y_mean'] = df[d_y_columns].mean(axis = 1)

In [36]:
df['r_y_max'] = df[r_y_columns].max(axis = 1)
df['d_y_max'] = df[d_y_columns].max(axis = 1)
df['r_y_min'] = df[r_y_columns].min(axis = 1)
df['d_y_min'] = df[d_y_columns].min(axis = 1)

In [37]:
# coordinates of radiant start point
r_x_min = df[['r1_x', 'r2_x','r3_x','r4_x','r5_x']].min(axis = 1)
r_y_min = df[['r1_y', 'r2_y','r3_y','r4_y','r5_y']].min(axis = 1)

In [38]:
df['r1_dist'] = np.sqrt((df['r1_y'] - r_y_min)**2 + (df['r1_x'] - r_x_min)**2)

In [39]:
df['r2_dist'] = np.sqrt((df['r2_y'] - r_y_min)**2 + (df['r2_x'] - r_x_min)**2)

In [40]:
df['r3_dist'] = np.sqrt((df['r3_y'] - r_y_min)**2 + (df['r3_x'] - r_x_min)**2)

In [41]:
df['r4_dist'] = np.sqrt((df['r4_y'] - r_y_min)**2 + (df['r4_x'] - r_x_min)**2)

In [42]:
df['r5_dist'] = np.sqrt((df['r5_y'] - r_y_min)**2 + (df['r5_x'] - r_x_min)**2)

In [43]:
df['r_avg_dist'] = df[['r1_dist', 'r2_dist', 'r3_dist', 'r4_dist', 'r5_dist']].mean(axis = 1)

In [44]:
df['r_avg_dist'].describe()

count    49675.000000
mean        50.428188
std         22.195810
min          0.000000
25%         33.374966
50%         54.325517
75%         68.735731
max        119.474650
Name: r_avg_dist, dtype: float64

In [45]:
df.head()

,game_time,game_mode,lobby_type,objectives_len,chat_len,r1_hero_id,r1_kills,r1_deaths,r1_assists,r1_denies,...,r_y_max,d_y_max,r_y_min,d_y_min,r1_dist,r2_dist,r3_dist,r4_dist,r5_dist,r_avg_dist
match_id_hash,,,,,,,,,,,,,,,,,,,,,
a400b8f29dece5f4d266f49f1ae2e98a,155,22,7,1,11,11,0,0,0,0,...,156,170,86,84,58.412327,67.201190,70.000000,100.000000,51.923020,69.507308
b9c57c450ce74a2af79c9ce96fac144d,658,4,0,3,10,15,7,2,0,7,...,166,176,78,98,0.000000,88.022724,104.995238,104.804580,101.862653,79.937039
6db558535151ea18ca70a6892197db41,21,23,0,0,0,101,0,0,0,0,...,144,178,78,110,56.568542,82.219219,66.000000,72.000000,64.000000,68.157552
46a0ddce8f7ed2a8d9bd5edcbb925682,576,22,7,1,4,14,1,0,3,1,...,154,160,94,100,88.022724,60.000000,55.605755,58.137767,94.000000,71.153249
b1b35ff97723d9b7ade1c9c3cf48f770,453,22,7,1,3,42,0,1,1,0,...,166,170,94,106,70.028566,72.000000,50.477718,60.000000,96.187317,69.738720

In [46]:
columns = df.columns[-53:]

In [47]:
X_train = df[columns][:split_index]

In [48]:
X_test = df[columns][split_index:]

In [49]:
y_train = df_targets['radiant_win'] * 1

In [50]:
X_train.shape, y_train.shape

((39675, 53), (39675,))

In [51]:
rf = RandomForestClassifier(n_estimators=100, max_depth=15, min_samples_leaf = 5)

In [52]:
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=15, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=5, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [53]:
cross_val_score(rf, X_train, y_train, cv = 5, n_jobs = -1, scoring='roc_auc').mean()

0.8124434204241302

In [54]:
y_test_pred= rf.predict_proba(X_test)[:, 1]

In [55]:
df_submission = pd.DataFrame({'radiant_win_prob': y_test_pred}, 
                                 index=df_test_features.index)

In [56]:
df_submission.to_csv('first_pred_all_data.csv')

In [57]:
tree_params = {'max_depth': range(1,20), 'max_features': range(4,19)}

In [58]:
tree_grid = GridSearchCV(rf, tree_params,
cv=5, n_jobs=-1,
verbose=True)

In [59]:
tree_params

{'max_depth': range(1, 20), 'max_features': range(4, 19)}

In [60]:
tree_grid = GridSearchCV(rf, tree_params,
cv=5, n_jobs=-1,
verbose=True)

In [ ]:
tree_grid.fit(X_train, y_train)

Fitting 5 folds for each of 285 candidates, totalling 1425 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 24 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    1.9s
[Parallel(n_jobs=-1)]: Done 152 tasks      | elapsed:   21.8s
[Parallel(n_jobs=-1)]: Done 402 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done 752 tasks      | elapsed:  5.0min
[Parallel(n_jobs=-1)]: Done 1202 tasks      | elapsed: 11.3min

In [ ]:
tree_grid.best_estimator_.fit(X_train, y_train)

In [ ]:
cross_val_score(tree_grid.best_estimator_, X_train, y_train, cv = 5, n_jobs = -1, scoring='roc_auc').mean()

In [ ]:
tree_grid.best_params_