In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.utils import shuffle
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df['name'] = df['Name'].str.split()

In [4]:
df['Title']=df['Name'].str.extract('([A-Za-z]+)\.',expand=True)

In [5]:
df['FName'] = df['Name'].str.extract('([A-Za-z]+)',expand=True)

In [6]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,name,Title,FName
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"[Braund,, Mr., Owen, Harris]",Mr,Braund
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"[Cumings,, Mrs., John, Bradley, (Florence, Bri...",Mrs,Cumings
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"[Heikkinen,, Miss., Laina]",Miss,Heikkinen
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"[Futrelle,, Mrs., Jacques, Heath, (Lily, May, ...",Mrs,Futrelle
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,"[Allen,, Mr., William, Henry]",Mr,Allen

In [7]:
df = df.drop('Cabin', axis = 1)

In [8]:
mapping = {'Mlle': 'Miss', 'Major': 'Mr', 'Col': 'Mr', 'Sir': 'Mr', 'Don': 'Mr', 'Mme': 'Miss',
          'Jonkheer': 'Mr', 'Lady': 'Mrs', 'Capt': 'Mr', 'Countess': 'Mrs', 'Ms': 'Miss', 'Dona': 'Mrs'}

In [9]:
df.replace({'Title': mapping}, inplace=True)

In [10]:
df['Male'] = df['Sex'].map({'male': 1, 'female': 0})

In [11]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,name,Title,FName,Male
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,"[Braund,, Mr., Owen, Harris]",Mr,Braund,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,"[Cumings,, Mrs., John, Bradley, (Florence, Bri...",Mrs,Cumings,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,"[Heikkinen,, Miss., Laina]",Miss,Heikkinen,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,"[Futrelle,, Mrs., Jacques, Heath, (Lily, May, ...",Mrs,Futrelle,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,"[Allen,, Mr., William, Henry]",Mr,Allen,1

In [12]:
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1

In [13]:
titles=['Mr','Miss','Mrs','Master','Rev','Dr']
for title in titles:
    age_to_impute = df.groupby('Title')['Age'].median()[titles.index(title)]
    #print(age_to_impute)
    df.loc[(df['Age'].isnull()) & (df['Title'] == title), 'Age'] = age_to_impute

In [14]:
df = df.drop('Sex', axis = 1)

In [15]:
df = df.drop('Ticket', axis = 1)

In [16]:
X = df.drop(['PassengerId', 'Name'], axis = 1)

In [17]:
X.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked,name,Title,FName,Male,FamilySize
0,0,3,22.0,1,0,7.2500,S,"[Braund,, Mr., Owen, Harris]",Mr,Braund,1,2
1,1,1,38.0,1,0,71.2833,C,"[Cumings,, Mrs., John, Bradley, (Florence, Bri...",Mrs,Cumings,0,2
2,1,3,26.0,0,0,7.9250,S,"[Heikkinen,, Miss., Laina]",Miss,Heikkinen,0,1
3,1,1,35.0,1,0,53.1000,S,"[Futrelle,, Mrs., Jacques, Heath, (Lily, May, ...",Mrs,Futrelle,0,2
4,0,3,35.0,0,0,8.0500,S,"[Allen,, Mr., William, Henry]",Mr,Allen,1,1

In [18]:
X = pd.get_dummies(X, columns=['Title'], drop_first=True)
#X = X.drop(['Title'], axis = 1)

In [19]:
#X = pd.get_dummies(X, columns=['Embarked'], drop_first=True)
X = X.drop(['Embarked'], axis = 1)

In [20]:
#X = pd.get_dummies(X, columns=['Pclass'], drop_first=True)

In [21]:
X.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,name,FName,Male,FamilySize,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Rev
0,0,3,22.0,1,0,7.2500,"[Braund,, Mr., Owen, Harris]",Braund,1,2,0,0,1,0,0
1,1,1,38.0,1,0,71.2833,"[Cumings,, Mrs., John, Bradley, (Florence, Bri...",Cumings,0,2,0,0,0,1,0
2,1,3,26.0,0,0,7.9250,"[Heikkinen,, Miss., Laina]",Heikkinen,0,1,0,1,0,0,0
3,1,1,35.0,1,0,53.1000,"[Futrelle,, Mrs., Jacques, Heath, (Lily, May, ...",Futrelle,0,2,0,0,0,1,0
4,0,3,35.0,0,0,8.0500,"[Allen,, Mr., William, Henry]",Allen,1,1,0,0,1,0,0

In [22]:
X = X.drop(['FName'], axis = 1)

In [23]:
X['Fare'].fillna(X['Fare'].mean(),inplace=True)
X['normFare'] = X['Fare'] / X['FamilySize']

In [24]:
X = X.drop(['name', 'Fare'], axis = 1)

In [25]:
X['Alone'] = (X['SibSp'] == 0) & (X['Parch'] == 0)

In [26]:
X['Alone'] = X['Alone']*1

In [27]:
X['Fav'] = (X['Male'] == 0) | (X['Age'] < 16)
X['Fav'] = X['Fav']*1

In [28]:
X['S1'] = X['FamilySize'] + X['Age']/70
X = X.drop(['Age', 'FamilySize'], axis = 1)

In [29]:
X.head()

,Survived,Pclass,SibSp,Parch,Male,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Rev,normFare,Alone,Fav,S1
0,0,3,1,0,1,0,0,1,0,0,3.62500,0,0,2.314286
1,1,1,1,0,0,0,0,0,1,0,35.64165,0,1,2.542857
2,1,3,0,0,0,0,1,0,0,0,7.92500,1,1,1.371429
3,1,1,1,0,0,0,0,0,1,0,26.55000,0,1,2.500000
4,0,3,0,0,1,0,0,1,0,0,8.05000,1,0,1.500000

# Splitting the data

In [30]:
Train = X[:600]

In [31]:
valid = X[600:]

In [32]:
X_train = Train.drop('Survived', axis = 1)

In [33]:
y_train = Train['Survived']

In [34]:
X_valid = valid.drop('Survived', axis = 1)

In [35]:
y_valid = valid['Survived']

In [36]:
X_train.shape

(600, 13)

In [37]:
X_valid.shape

(291, 13)

In [38]:
y_train.shape

(600,)

In [39]:
y_valid.shape

(291,)

# Decision tree classifier

In [40]:
dt = DecisionTreeClassifier(max_depth = 5, random_state=17)

In [41]:
X_train.head()

,Pclass,SibSp,Parch,Male,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Rev,normFare,Alone,Fav,S1
0,3,1,0,1,0,0,1,0,0,3.62500,0,0,2.314286
1,1,1,0,0,0,0,0,1,0,35.64165,0,1,2.542857
2,3,0,0,0,0,1,0,0,0,7.92500,1,1,1.371429
3,1,1,0,0,0,0,0,1,0,26.55000,0,1,2.500000
4,3,0,0,1,0,0,1,0,0,8.05000,1,0,1.500000

In [42]:
dt.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=17, splitter='best')

In [43]:
pred = dt.predict(X_valid)

In [44]:
accuracy_score(pred, y_valid)

0.845360824742268

In [45]:
max_feat = X_train.shape[1]

In [46]:
max_feat

13

In [47]:
tree_params = {'max_depth': range(1,20),
               'max_features': range(1,max_feat)}

In [48]:

tree = GridSearchCV(dt, tree_params, cv=5, n_jobs=-1, verbose=True)

In [49]:
tree.fit(X_train, y_train)

Fitting 5 folds for each of 228 candidates, totalling 1140 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    3.2s
[Parallel(n_jobs=-1)]: Done 1140 out of 1140 | elapsed:    5.1s finished
C:\Users\X1 Carbon 6\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=DecisionTreeClassifier(class_weight=None,
                                              criterion='gini', max_depth=5,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort=False, random_state=17,
                                              splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'max_depth': range(1, 20),
                         'max_features': range(1, 13)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=True)

In [50]:
treeCV_accuracy = tree.best_score_

In [51]:
best_dt = tree.best_estimator_

In [52]:
pred = best_dt.predict(X_valid)

In [53]:
accuracy_score(pred, y_valid)

0.845360824742268

In [54]:
tree_tuned_score = round(accuracy_score(pred, y_valid), 3)

# KNN

In [55]:
knn = KNeighborsClassifier(n_neighbors=10)

In [56]:
scaler = StandardScaler()

In [57]:
X_train_scaled = scaler.fit_transform(X_train)

In [58]:
X_valid_scaled = scaler.transform(X_valid)

In [59]:
knn.fit(X_train_scaled, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                     weights='uniform')

In [60]:
knn_pred = knn.predict(X_valid_scaled)

In [61]:
accuracy_score(knn_pred, y_valid)

0.8419243986254296

In [62]:
from sklearn.pipeline import Pipeline

In [63]:
knn_pipe = Pipeline([('scaler', StandardScaler()), ('knn', KNeighborsClassifier(n_jobs=-1))])

In [64]:
knn_params = {'knn__n_neighbors': range(1, 10)}
knn_grid = GridSearchCV(knn_pipe, knn_params,
                        cv=5, n_jobs=-1, verbose=True)
knn_grid.fit(X_train_scaled, y_train)
knn_grid.best_params_, knn_grid.best_score_

Fitting 5 folds for each of 9 candidates, totalling 45 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  30 out of  45 | elapsed:    0.4s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done  45 out of  45 | elapsed:    0.6s finished

({'knn__n_neighbors': 6}, 0.81)

In [65]:
best_knn = knn_grid.best_estimator_

In [66]:
knnCV_accuracy = knn_grid.best_score_

In [67]:
knn_tuned_pred = best_knn.predict(X_valid_scaled)

In [68]:
knn_score = accuracy_score(knn_tuned_pred, y_valid)

# Random Forest

In [69]:
from sklearn.ensemble import RandomForestClassifier

forest = RandomForestClassifier(n_estimators=200, n_jobs=-1, 
                                random_state=17)
print(np.mean(cross_val_score(forest, X_train, y_train, cv=5)))

0.7733399310137278

In [ ]:
%%time
forest_params = {'max_depth': range(2, 20),
                 'max_features': range(4, X_train.shape[1])}

forest_grid = GridSearchCV(forest, forest_params,
                           cv=5, n_jobs=-1, verbose=True)

forest_grid.fit(X_train, y_train)

forest_grid.best_params_, forest_grid.best_score_

Fitting 5 folds for each of 162 candidates, totalling 810 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    3.0s
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:   16.7s
[Parallel(n_jobs=-1)]: Done 434 tasks      | elapsed:   42.1s

In [ ]:
forest_predict = forest_grid.best_estimator_.predict(X_valid)

In [ ]:
forest_score = accuracy_score(forest_predict, y_valid)

In [ ]:
forestCV_accuracy = forest_grid.best_score_

In [ ]:
print('Tree CV accuracy: {}'.format(round(treeCV_accuracy*100, 2)))
print('Tree score: {}'.format(round(tree_tuned_score*100, 2)))

print('\nKNN CV accuracy: {}'.format(round(knnCV_accuracy*100,2)))
print('KNN score: {}'.format(round(knn_score*100, 2)))

print('\nForest CV accuracy: {}'.format(round(forestCV_accuracy*100,2)))
print('Forest score: {}'.format(round(forest_score*100, 2)))